.gallery-section {
    background-color: black;
    padding-bottom: 130px;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
}

.gallery {
    position: relative;
    width: 614px;
    height: 758px;
}

.gallery-slides {
    position: relative;
}

.gallery-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 758px;
    opacity: 0;
}

.gallery-slide-active {
    opacity: 1;
}

.gallery-img {
    width: 100%;
    height: 758px;
    border-radius: 50px;
    object-fit: cover;
}

.gallery-controls-wrapper {
    position: absolute;
    width: 100%;
    top: 700px;
    left: 280px;
}

.gallery-controls {
    display: flex;
    gap: 14px;
}

.gallery-controls-prev,
.gallery-controls-next {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.gallery-controls-prev:hover,
.gallery-controls-next:hover {
  opacity: 0.5;
}

.gallery-controls-prev {
    background-image: url(../files/Vector-prev.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .gallery-controls-next {
    background-image: url(../files/Vector-next.png);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: right;
  }