header {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: black;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: inline-block;
}

.nav-logo-img {
  width: 100px;
  height: 100px;
}

.nav-list {
  margin-top: 32px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #a25fa8;
  font-weight: bold;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 0.5;
}

.burger-btn {
  display: none;
  z-index: 1000;
}

.burger-open {
  opacity: 1;
  visibility: visible;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  transform: translateX(100%);
  z-index: 50;
}

.burger-logo {
  margin: 80px 0 30px 50px;
}

.burger-btn {
  display: none;
  z-index: 1000;
}

.burger-open {
  opacity: 1;
  visibility: visible;
}

.burger-content {
  width: 350px;
  height: 100%;
  background-color: pink;
  overflow-y: auto;
}

.burger-nav-wrapper {
  margin-bottom: 120px;
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 40px;
}

.burger-nav-link {
  font-size: 25px;
  line-height: 34px;
  text-decoration: none;
  text-transform: uppercase;
  color: #a25fa8;
  font-weight: bold;
}

.burger-nav-link:hover {
  opacity: 0.5;
}

.burger-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 40px;
}

.burger-title {
  font-size: 16px;
  line-height: 25px;
  opacity: 0.5;
  color: #a25fa8;
  margin-left: 40px;
}

.burger-link-tel,
.burger-link-teleg,
.burger-link-inst {
  display: inline-block;
  font-size: 25px;
  line-height: 45px;
  text-decoration: none;
  color: black;
}

.burger-link-tel {
  width: 220px;
  height: 40px;
}

.burger-link-teleg {
  width: 70px;
  height: 40px;
}

.burger-link-inst {
  width: 100px;
  height: 40px;
}

.burger-link-tel:hover,
.burger-link-teleg:hover,
.burger-link-inst:hover {
  opacity: 0.5;
}

.burger-content,
.burger-open {
  transform: translateX(0);
}

@media (max-width: 1199px) {
  .header {
    padding-bottom: 70px;
  }

  .nav-list {
    display: none;
  }

  .burger-btn {
    display: block;
    position: relative;
    width: 60px;
    height: 40px;
    background: none;
    cursor: pointer;
  }

  .burger-btn:hover {
    opacity: 0.5;
  }

  .burger-btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    height: 3px;
    width: 100%;
    background-color: #a25fa8;
  }

  .burger-btn::after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    height: 3px;
    width: 60%;
    background-color: #a25fa8;
  }

  .burger-btn-open::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 20px;
    height: 4px;
    width: 40px;
    background-color: #a25fa8;
    transform: rotate(45deg);
  }

  .burger-btn-open::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 20px;
    height: 4px;
    width: 40px;
    background-color: #a25fa8;
    transform: rotate(-45deg);
  }
}
