@import url(..//styles/reset.css);
@import url(..//styles/navigations.css);
@import url(..//styles/about-me.css);
@import url(..//styles/my-works.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;700&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inter', sans-serif;
    color: #fff;
    letter-spacing: 0.03em;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}