.services {
    background-color: black;
    padding-bottom: 100px;
}

.services-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    line-height: 62px;
    font-weight: bold;
    color: #a25fa8;
    margin-bottom: 50px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.services-text {
    font-size: 20px;
    line-height: 28px;
}

@media (max-width: 1199px) {

    .services {
        padding-bottom: 80px;
    }

    .services-title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .services-text {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 767px) {

    .services {
        padding-bottom: 60px;
    }

    .services-title {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    .services-list {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .services-text {
        font-size: 16px;
        line-height: 20px;
    }
}